
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  font-family:lato;
  
}
.MainHeader {
color:#026995;
}

.tableHeader{
  background-color:#026995;
  color:#ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
}

.inputFields{
  margin-top: 15px;
  border-radius: 5px;
  border-color:#026995;
  color: #026995;
}

.AddBillBtn{
  margin-top: 15px;
  margin-left: 8px;
  border-radius: 10px;
  color:#ffffff;
  background-color: #026995;
  border-color:#ffffff;
padding-left:12px;
padding-right:12px;
padding: 5px;
}

.TableHeaderRow{
  background-color: #026995;
}

.paddedtable{
  align-content:"center";
  margin-left: 400px;
}
.billInfo{
  color:#002839
}
.removeButton{
  margin-top: 10px;
  margin-left: 8px;
  border-radius: 10px;
  color:#ffffff;
  background-color: #dc4231;
  border-color:#ffffff;
padding-left:8px;
padding-right:8px;
padding: 5px;
}

