
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  font-family:lato;
}
.MainHeader {
color:#026995;
}

.tableHeader{
  color:#026995;
}

.inputFields{
  border-radius: 15px;
  border-color:aquamarine;
  color: #026995;
}

.AddBillBtn{
  border-radius: 15px;
  color:#ffffff;
  background-color: #026995;
  border-color:#ffffff;

}